# Copy this file to .env and fill in your real keys
# Never commit .env to GitHub

PORT=3000

# Meteosource Weather API (Startup & Scale plan)
# https://www.meteosource.com/dashboard
METEOSOURCE_API_KEY=lvp6xiwacbnh7wnpc9o28av0vurteh5orv8mvu72

# Google Flood Forecasting API
GOOGLE_FLOOD_API_KEY=
